[submodule "ogg/vorbis"]
	path = ogg/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "ogg/ogg"]
	path = ogg/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "mp3lame/lame"]
	path = mp3lame/lame
	url = git@github.com:RGBA-CRT/lame.git
